<div class="container">
    <div class="calendar">
        <div class="times">
            <span *ngFor="let time of times" class="time">{{ time }}</span>
        </div>
        <div *ngFor="let day of days" class="row" [ngStyle]="{'height': day.numOverlappedSessions * 100 + 'px'}">
            <div class="date-column">
                <p class="day">{{ day.date.format('dddd') }}</p>
                <p class="date">{{ day.date.format('DD') }}</p>
            </div>
            <div class="sessions">
                <app-session *ngFor="let session of day.sessions" [details]="session"></app-session>
            </div>
            <div *ngIf="day.isToday" class="blue-line" [ngStyle]="blueLineStyle"></div>
        </div>
    </div>

    <h3>Session Creator</h3>
    <div class="session-creator">
        <div class="current-sessions">
            <h4>Current Sessions</h4>
            <div class="sessions">
                <div *ngFor="let session of sessions" class="session">
                    <p class="title">{{ session.title }}</p>
                    <p class="date">Start Date: {{ session.startTime | date:'MMM d, y, HH:mma' }}</p>
                    <p class="date">End Date: {{ session.endTime | date:'MMM d, y, HH:mma'}}</p>
                </div>
            </div>
        </div>
        <div class="new-session">
            <h4>New Sessions</h4>
            <div class="input-box">
                <label for="title">Title: </label>
                <input type="text" id="title" [(ngModel)]="newSession.title" />
            </div>

            <div class="input-box">
                <label for="startTime">Start: </label>
                <input type="datetime-local" id="startTime" [(ngModel)]="newSession.startTime" />
            </div>

            <div class="input-box">
                <label for="endTime">End: </label>
                <input type="datetime-local" id="endTime" [(ngModel)]="newSession.endTime" />
            </div>

            <a (click)="addSession()" class="btn">Add Session</a>
        </div>
    </div>
</div>